<a href="https://colab.research.google.com/github/aysunakarsu/supdeweb/blob/master/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SUPDEWEB MARKETING  STRATEGY M1 E-COMMERCE**

# An Introduction to Pandas

To edit this notebook:
- Save the notebook by selecting `Download .ipynb` from the `File` tab
- Go to [Colaboratory](https://colab.research.google.com/) and upload the notebook from the `File` tab
- Alternatively, you can import the notebook to your Google Drive and select `Open with` when you right-click. Select `Colaboratory` or `+ Connect more apps` to install Colaboratory first

## Basic Pandas Concepts

Some very basic Pandas and python concepts to get started

#### Import the pandas package

In [0]:
import pandas as pd

#### Create a simple DataFrame

- syntax: pd.DataFrame({column1 : value1, column2 : value2, column3 : value3})

You can have anything as column names and anything as values.

The only requirement is to have all value lists being of equal length (all are of length 3 in this example)

There are many ways to create a data frame and you will see some more during the course. All of them can be seen documented [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html).

In [0]:
df = pd.DataFrame({'name':['Bob','Jen','Tim'],
                   'age':[20,30,40],
                   'pet':['cat', 'dog', 'bird']})

df

#### View the column names and index values

The index is one of the most important concepts in pandas. 

Each dataframe has only a single index which is always available as `df.index` and if you do not supply one (as we did not for this dataframe) a new one is made automatically. 

Indexes define how to access rows of the dataframe. 

The simplest index is the range index but there are more complex ones like interval index, datetime index and multi index. 

We will explore indexes more in depth during the course of this lecture.

In [0]:
print(df.columns)
print(df.index)

#### Select a column by name in 2 different ways

These two ways are equivalent and can be used interchangeably almost always.

The primary exception is when the name of the column contains spaces. If for example we had a column called "weekly sales" we have to use df['weekly sales'] because `df.weekly sales` is a syntactic error.

In [0]:
print(df['name'])
print(df.name)

#### Select multiple columns

To select multiple columns we use `df[columns_to_select]` where `columns_to_select` are the columns we are interested in given as a simple python list. As the result we will get another data frame. 

This is the equivalent of listing columns names in `SELECT` part of a sql query.

In [0]:
df[['name','pet']]

#### Select a row by index

Regular selection of rows goes via its index. When using range indices we can access rows using integer indices but this will not work when using datetime index for example.

We can always access any row in the dataframe using `.iloc[i]` for some integer i. 

The result is a series object from which we can access values by using column indexing.

In [0]:
df.iloc[0]

### Sort Function

- pandas.pydata.org
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html

#### Sort the data by pet

There are two ways to sort.
- By index
- By value

By value means sorting according to value in a column. 

In this example we sort the rows of the dataframe based on values in 'pet' column.

The parameter `ascending = True` means that we want the rows sorted in ascending order. This is the same as sql 'ASC'. To get descending order use `ascending = False`.

`inplace` is very important and you should always remember it. When `inplace=True` the dataframe is modified in place which means that no copies are made and your previous data stored in the dataframe is lost. By default inplace is always False. When it is false a copy is made of your data and that copy is sorted and returned as output. 

The output of `sort_values` is always a dataframe returned but the behaviour depends strongly on the `inplace` parameter.

In [0]:
df.sort_values('pet',inplace=True, ascending=True)

### Indexing with DataFrames

Everything we discussed about indexing in numpy arrays applies to dataframes as well.

DataFrames are very similar to 2d-arrays with the main exception being that in DataFrames you can index using strings (column names).

#### View the index after the sort

In [0]:
df

#### Difference between loc and iloc

- `.loc` selection is based on the value of the index. For example if the index was categorical we could index via some category. 
- `.iloc` selection is **always** based on integer positions. When using iloc we are treating the dataframe as 2d-array with no special structure compared to the case of `.loc`

In [0]:
df.loc[0] #index based

In [0]:
df.iloc[0] #relative position based indexing

#### Use iloc to select all rows of a column

This will select all rows of the second column.

Remember `:` = `::1`

First index is always row and second is always column when dealing with dataframes.

In [0]:
df.iloc[:,2]

#### Use iloc to select the last row

In [0]:
df.iloc[-1,:]

## Basic Pandas Concept Exercises

In [0]:
sales = [100,130,119,92,35]
customer_account = ['B100','J101','X102','P103','R104']
city = ['BOS','LA','NYC','SF','CHI']

#### Create a DataFrame with the data above

#### What is the name of the first column?

#### Sort the DataFrame by city in descending order (check the documentation for sort)

#### Which customer is in the last row of the DataFrame?

#### Reorder the columns with customer in the first column

# Basic Pandas Functionality 

Before we learn about what Pandas can do, we need to first import some data

## Importing Data
In the following exercises we will read CSV files into pandas dataframes

**Read CSV file into dataframe**

In [0]:
data = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

In [0]:
data.head()

In [0]:
data.info()

In [0]:
data.tail()

In [0]:
data.T

**Find  the number of houses which are older than 70 years old**

In [0]:
data[data.age>=70].count()

## Import  csv file 
Import from this csv https://raw.githubusercontent.com/aysunakarsu/supdeweb/master/velib_a_paris_et_communes_limitrophes.csv  into dataframe df

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/aysunakarsu/supdeweb/master/velib_a_paris_et_communes_limitrophes.csv',sep=';')

**Display the first 5 rows in the dataframe  df**

**Display information about dataframe df**

***Display last  5 rows in dataframe df***

**Display information about dataset df**

**How many velibs there are in 17th arr of Paris**